.container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .container {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
  }
  .container .mat-form-field {
    width: 220px;
  }
  
  .container form {
    margin-bottom: 20px;
  }
  
  .container form > * {
    margin: 5px 0;
  }
